@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Accueil";
}

<div class="container-fluid">
    <div class="row">
        <!-- Contenu principal -->
        <div class="col-12">
            <div class="text-center py-5">
                <h1 class="display-4 mb-4">Bienvenue sur BoutiqueEnLigne</h1>
                <p class="lead">Découvrez notre sélection de produits exceptionnels</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">À propos de notre boutique</h5>
                            <p class="card-text">
                                BoutiqueEnLigne est votre destination de confiance pour tous vos achats en ligne.
                                Nous vous proposons une large sélection de produits de qualité, des prix compétitifs
                                et un service client exceptionnel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

