@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 fw-bold text-primary mb-4">Bienvenue sur A&M Store</h1>
            <p class="lead text-muted">
                Découvrez notre sélection de produits exceptionnels <br>
                A&M Store priorise la qualité et le service. <br>
                votre satisfaction, notre objectif a toute épreuve.
            </p>
        </div>
    </div>
</div>

